@page
@using Adliance.AspNetCore.Buddy.Bulma.Test.Pages
@using SelectList = Adliance.AspNetCore.Buddy.Bulma.SelectLists
@model Adliance.AspNetCore.Buddy.Bulma.Test.Pages.IndexModel

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/regular.min.css" integrity="sha512-YoxvmIzlVlt4nYJ6QwBqDzFc+2aXL7yQwkAuscf2ZAg7daNQxlgQHV+LLRHnRXFWPHRvXhJuBBjQqHAqRFkcVw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<div class="container pt-6">
    <h1 class="title is-1">Form</h1>
    <form method="post">
        <div class="columns">
            <div class="column">
                <field asp-for="InputValue" label="Input" help="Renders a simple input field"/>
            </div>
            <div class="column">
                <field asp-for="PasswordValue" label="Password" help="Renders a password field" password icon="fa fa-trash"/>
            </div>
            <div class="column">
                <field asp-for="DateValue" label="Date" help="Renders a date field"/>
            </div>
            <div class="column">
                <field asp-for="NumberValue" label="Date" help="Renders a number field" number/>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <field asp-for="InputValue" label="Input" help="Input with appended text" append="append" icon="fa fa-trash"/>
            </div>
            <div class="column">
                <field asp-for="PasswordValue" label="Password" password/>
            </div>
            <div class="column">
                <field asp-for="DateValue" label="Date" help="Date with prepended text" prepend="prepend"/>
            </div>
            <div class="column">
                <field asp-for="FileValue" label="File" help="Renders a file upload" placeholder="Select file" file-upload/>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <field asp-for="TextareaValue" label="Textarea" help="Renders a textarea" multi-line rows="3"/>
            </div>
            <div class="column">
                <field asp-for="CheckboxValue" label="Checkbox label" placeholder="Checkbox" help="Renders a checkbox"/>
            </div>
            <div class="column">
                <field asp-for="CheckboxValue" help="Renders a checkbox with icon" icon="fa fa-trash"/>
            </div>
            <div class="column"></div>
        </div>

        <div class="columns">
            <div class="column">
                <field asp-for="SelectedCheckboxListValues" items="@SelectList.For<IndexModel.PossibleValues>()" label="Checkbox List" help="Renders a list of checkboxes" checkboxes/>
            </div>
            <div class="column">
                <field asp-for="SelectValue" items="@SelectList.For<IndexModel.PossibleValues>()" label="Select" help="Renders a select"/>
            </div>
            <div class="column">
                <field asp-for="SelectValue" items="@SelectList.For<IndexModel.PossibleValues>()" label="Select" help="Renders a select" icon="fa fa-trash"/>
            </div>
            <div class="column"></div>
        </div>

        <div class="mt-6">
            <button type="submit" class="button is-primary">Submit</button>
        </div>
    </form>

    <h1 class="mt-6 title is-1">Cards</h1>
    <div class="columns">
        <div class="column">
            <card>
                <div>
                    <p>
                        This is a <b>Card</b> ...
                    </p>
                    <p>... with complex HTML structure.</p>
                </div>
            </card>
        </div>
        <div class="column">
            <card title="Card title">
                This is also a card.
            </card>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <card collapsible="true" collapsible-start-open="false" class="mt-6">
                This is a collapsible card.
            </card>
        </div>
        <div class="column">
            <card title="Card title" collapsible-start-open="true">
                This is a collapsible card.
            </card>
        </div>
    </div>

</div>
</body>
</html>