@page
@{
    ViewData["Title"] = "Buttons";
}

<agk-title text="Buttons">
    GuiKit styles plain <code>&lt;button&gt;</code> elements and <code>&lt;a class="button"&gt;</code> links.
</agk-title>

<agk-panel title="Buttons">
    <p>
        <button type="button">Form Button</button>
    </p>
    <p>
        <a class="button" href="#">Link Button</a>
    </p>
</agk-panel>
