@using System.Globalization
@inject Adliance.AspNetCore.Buddy.GuiKit.AppInsightsJavaScript AppInsightsJavaScript
<!DOCTYPE html>

<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8"/>
    <title>GuiKit Demo</title>
    <link rel="stylesheet" href="~/css/b.css"/>
    @Html.Raw(AppInsightsJavaScript.Script)
</head>
<body>
<nav>
    <header>
        GuiKit Demo
        <span class="hamburger"><i class="fa fa-bars"></i></span>
    </header>
    <main>
        <b>Demo Pages</b>
        <ul>
            <li><a asp-page="/Index">Home</a></li>
            <li><a asp-page="/Panels">Panels</a></li>
            <li><a asp-page="/Notifications">Notifications</a></li>
            <li><a asp-page="/Loading">Loading</a></li>
            <li><a asp-page="/Buttons">Buttons</a></li>
            <li><a asp-page="/Table">Table</a></li>
            <li><a asp-page="/Iframe">Iframe</a></li>
        </ul>
    </main>
    <footer>
        <ul>
            <li><a href="https://www.adliance.net">Built by adliance.net</a></li>
        </ul>
        <div>Demo Project</div>
    </footer>
</nav>
<main>
    @RenderBody()
</main>
<script src="~/js/b.js"></script>
</body>
</html>
